
@{
    ViewData["Title"] = "Documentation";
}

<div class="container content">

    <h3>
        Getting Started
    </h3>
    <hr />

    <h4>
        Installation
    </h4>
    <br />
    <div class="p-3 bg-light">
        <code>
            npm install @@aspnet/signalr
        </code>
    </div>
    <br />
    <p>
        Include files:
    </p>

    <div class="p-3 bg-light">
        <code>

            &lt;script> src="~/js/signalr.min.js">&lt;/script>
            <br />
            &lt;script src="~/js/scanx.js">&lt;/script>

        </code>

    </div>

    <br />
    <h4>
        Usage
    </h4>
    <br />

    <h6>
        Html
    </h6>
    <br />
    <div class="p-3 bg-light">
        <code>

            &lt;img id="image" src="" />

        </code>
    </div>
    <br />
    <h6>
        Syntax
    </h6>
    <br />
    <div class="p-3 bg-light">
        <code>
            var scanx = new Scanx();
        </code>
    </div>
    <br />
    <h6>
        Setup events
    </h6>
    <br />
    <div class="p-3 bg-light">
        <code>
            scan.connection.on("OnImageScanned", (data) => {
            <br />
            
            &nbsp;&nbsp;&nbsp;&nbsp; var image = document.getElementById('image');
            <br />
            &nbsp;&nbsp;&nbsp;&nbsp; image.src = "data: image/jpeg;base64," + data.imageBytes;

            <br />
            });
        </code>
    </div>
    <br />
    <p>
        <code>data:</code> wil have the following properties
    </p>
    <ul>
        <li>
            <code>
                imageBytes:
            </code>
            Base64 image bytes
        </li>
        <li>
            <code>size:</code> image size in bytes
        </li>
        <li>
            <code>page:</code> page number of scanned image
        </li>
    </ul>
</div>

<br />
<br />
