
@{
    ViewData["Title"] = "Documentation";
}

<div class="container content">

    <h3>
        Getting Started
    </h3>
    <hr />

    <h4>
        Installation
    </h4>
    <br />
    <div class="p-3 bg-light">
        <code>
            npm install @@aspnet/signalr
        </code>
    </div>
    <br />
    <p>
        Include files:
    </p>

    <div class="p-3 bg-light">
        <code>

            &lt;script> src="~/js/signalr.min.js">&lt;/script>
            <br />
            &lt;script src="~/js/scanx.js">&lt;/script>

        </code>

    </div>
    <br />
    <h4>
        Usage
    </h4>
    <br />

    <h6>
        Syntax
    </h6>
    <div class="p-3 bg-light">
        <code>
            var scanx = new Scanx();
        </code>

    </div>
</div>