
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">
            ScanX Protocol
            <small>
                v<span>@VersionHelper.Version</span>
            </small>
        </h1>
        <p>
            Scanx will allow you to controll your printers and scanners via modern browsers using a websocket
        </p>

    </div>
</div>

<div class="container">
    <h3>
        Introduction
    </h3>
    <p>
        ScanX protcol will help your web application to control printers and scanners installed in the user PC using <code>SignalR</code>. Once you see this page thats mean the user devices can be controlled via the protocol
    </p>

    <h3>
        Devices
    </h3>
    <p>
        To list installed devices in your pc click <a asp-action="Devices">Devices</a>
    </p>
    <hr>

</div> <!-- /container -->
