
@{
    ViewData["Title"] = "ScannerSample";
}

<h2>ScannerSample</h2>



@section scripts{
    
    <script src="~/js/signalr.min.js"></script>

    <script src="~/js/scanx.js"></script>

    <script type="text/javascript">

    </script>
}